@import './assets/font/font.css';
$qb: #2D9E1C;
$qbHover:rgb(40, 146, 24);
$qbActive:rgb(34, 129, 20);
$blue: #008CDE;
$pink: #E91792;
$orange: #FF7424;
$greyTxt: #b6b6b6;

//Buttons
$secondaryBtnStroke: #5A5A5A;
$secondaryBtnBG: rgba(255,255,255,0);
$secondaryBtnHover: rgba(255,255,255,.07);
$secondaryBtnActive: rgba(255,255,255,.1);
$btnRadius: 50px;
$btnSpacing: 10px;

//Typography
$fontSize: 17px;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$heavy: 900;
$txt: #393B3D;
$highlight: rgb(255, 249, 215);

$ease: cubic-bezier(0.56, 0, 0, 1);

body {
  margin: 0;
  color: $txt;
  font-weight: 400;
  font-family: avenirRegular;
  font-size: $fontSize;
  overscroll-behavior: none;
}

button{
  cursor: pointer;
  font-family: avenirMedium;
  color: $txt;
}
p {margin: 0}

.btn.link,
.link {
  color: $blue;
  font-family: avenirMedium;
  background: none;
  border: none;
  &:active{background: none}
  &:hover{background: none}
  cursor: pointer;
  &:hover{ text-decoration: underline}
}

.btn {
  font-family: avenirDemi;
  color: #fff;
  display: flex;
  justify-content: center;
  &:disabled{
    opacity: .3;
    cursor: not-allowed;
  }
  a{
    color: #fff;
    text-decoration: none;
  }
  background: $qb;
  border: 1px solid $qb;
  padding: 7px 40px;
  border-radius: $btnRadius;
  display: flex;
  align-items: center;
  font-size: .9em;
  &:not(:disabled):not(.link){
    &:hover{ background: $qbHover}
    &:active{ background: $qbActive}
  }
  > img { margin-right: $btnSpacing}
  &.secondary{
      color: $txt;
      background: $secondaryBtnBG;
      border: 1px solid $secondaryBtnStroke;
      &:hover{ background: $secondaryBtnHover}
      &:active{ background:$secondaryBtnActive}
  }
}

.highlight {
  background: $highlight;
}

@keyframes pulse {
  from{
    opacity: .2;
  }
  to{
    opacity: .4;
  }
}
.LoadingCompanies {
  div {
    opacity: .4;
    padding: 40px 20vw;
    animation: pulse .6s linear infinite alternate;
    &:not(:last-child){
      border-bottom: 1px solid rgba(0,0,0,.05);
    }
  }
}

@keyframes showup {
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

.Company {
  padding: 40px 20vw;
  display: flex;
  flex-direction: column;
  animation: showup 1.3s cubic-bezier(0.63, 0.01, 0, 1) forwards;
  opacity: 0;
  transform: translateY(10px);
  transition: .5s cubic-bezier(0.72,-0.01, 0.12, 1.01) !important;
  overflow: hidden;
  height: 204px;
  box-sizing: border-box;
  .riveComponent {
    width: 34px;
    margin-left: 10px;
  }
  &.selected{
    border: none;
  }
  cursor: pointer;
  div > span,
  p > span {margin-right: 6px}
  &:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,.05);
  }
  &:not(:active):hover h3 span:nth-of-type(1){text-decoration: underline}
  h3{
    margin: 0 0 10px 0;
    font-family: avenirMedium;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    .type {
      font-family: avenirBold;
      margin-left: 10px;
      color:#fff;
      background: $qb;
      font-size: .4em;
      border-radius: 20px;
      padding: 2px 8px;
      &.plc{ background: $blue}
      &.ultd{ background: $orange}
      &.llp{ background: $pink}
    }
  }
}

.NoResult {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  // animation: showup .9s cubic-bezier(0.73, 0.01, 0.13, 1) forwards;
  // opacity: 0;
  // transform: translateY(10px);
  // box-shadow: 0 20px 30px 0 rgba(0,0,0,.1);
  padding: 40px 40px 0 40px;
  box-sizing: border-box;
  border-radius: 20px;
  img{margin-bottom: -90px}
  h3 {
    font-family: avenirMedium;
    margin: 50px 0 10px 0;
    font-size: 1.5em;
  }
}


@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.SearchHead {
  display: flex;
  flex-direction: column;
  padding: 90px 20vw 70px;
  margin-bottom: -20px;
  align-items: center;
  background: #fff;
  position: sticky;
  z-index: 1;
  top: 0;
  h2 {
    opacity: 0;
    animation: fadeIn 1s ease forwards .2s;
    font-family: avenirBold;
    font-size: 2em;
    margin: 0 0 35px 0;
  }
}

@keyframes slide {
  0%{
    width: 97%;
    opacity: 0;
  }
  50%{
    width: 100.5%;
    opacity: 1;
  }
  100%{
    width: 100%;
    opacity: 1;
  }
}
@keyframes slideSearch {
  0%{
    transform: translateX(3px)
  }
  50%{
    transform: translateX(-2px)
  }
  100%{
    transform: translateX(0px)
  }
}

.SearchInput {
  opacity: 0;
  display: flex;
  align-items: center;
  border: 1px solid #d8d8d8;
  animation: slide 1.5s cubic-bezier(0.68,-0.02, 0.11, 1)forwards;
  padding: 0 15px;
  width: 60%;
  box-sizing: border-box;
  border-radius: 100px;
  transition: .2s ease;
  &:hover { border-color: #b1b1b1}
  &.focus { border-color: #64a7f6}
  button {
    background: none;
    border: none;
    padding: 8px;
    margin-right: 4px;
    transform: translateX(5px);
    animation: slideSearch 1.8s cubic-bezier(0.68,-0.02, 0.11, 1)forwards;
    &:hover{opacity: .5}
  }
  input {
    border: none;
    outline: none;
    font-family: avenirRegular;
    padding: 20px 0;
    width: calc(100% - 50px);
    font-size: .9em;
    background: none;
    &::placeholder { color: rgb(158, 158, 158)}
  }
}


@keyframes fadeLoad {
  from{
    background: rgba(255,255,255,0);
  }
  to{
    background: rgba(255,255,255,1);
  }
}

.Loading {
  position: fixed;
  inset: 0;
  animation: fadeLoad .3s ease forwards;
  background: rgba(255,255,255,0);
  z-index: 2;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 25vh;
  >div{
    display: flex;
    flex-direction: column;
  }
  &.progress {
    .riveComponent{
      width: 468px;
      height: 16px;
      margin-top: 10px;
    }
  }
  .riveComponent{
    width: 100px;
    height: 100px;
  }
}
.GreetingUser {
  width: 500px;
  margin: 10vh auto;
  text-align: center;
  animation: showup 1.2s $ease forwards;
  opacity: 0;
  transform: translateY(10px);
  // box-shadow: 0 20px 30px 0 rgba(0,0,0,.1);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  .riveComponent {
    width: 900px;
    height: 900px;
    position: absolute;
    top: -250px;
    left: -225px;
    z-index: 0;
  }
  img{
    margin: 20px 0;
  }
  h1,p,button{
    z-index: 1;
    position: relative;
  }
  h1 {
    font-family: avenirBold;
    margin: 0 0 20px 0;
    font-size: 2em;
  }
  .btnCtn {
    display: flex;
    justify-content: center;
    padding: 60px 70px 0;
    button {
      flex:1;
    }
  }
}

.Field {
  display: flex;
  flex-direction: column;
  font-family: avenirRegular;
  font-size: .8em;
  padding: 10px 0;
  position: relative;
  .showPassBtn{
    top: 37px;
    img {width: 19px}
  }
  label { opacity: .6 }

  input {
    font-family: avenirRegular;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    outline:none;
    margin: 5px 0 10px;
    &:focus{ border-color: $qb}
  }
}

.MeasuringPurposes {
  position: absolute;
  top:-2000vh;
  left:0;
  visibility: hidden;
  width: 100%;
}

.AccordionParent {
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.AccordionChild {
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  &:hover h4 {opacity: .6}
  
  &.noStarted {
    .childTitle {
      // > button {opacity: .5}
      > span { opacity: 0}
    }
  }
  
  &.expanded {
    .childTitle button > img {transform: rotate(0deg)}
    .childJSX {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .childTitle {
    display: flex;
    align-items: center;

    > span {
      opacity: 1;
      color: $blue;
      font-size: .9em;
      font-family: avenirMedium;
      transition: .8s cubic-bezier(0.58,-0.01, 0, 1);
    }
    
    > button {
      opacity: 1;
      flex: 1;
      font-size: 1.1em;
      
      background: #fff;
      position: relative;
      z-index: 1;
      border: none;
      display: flex;
      align-items: center;
      padding: 15px 0;
      font-family: avenirDemi;
      transition: .8s cubic-bezier(0.58,-0.01, 0, 1);
      img {
        transform: rotate(-90deg);
        transition: .8s cubic-bezier(0.58,-0.01, 0, 1);
      }
      
      h4 {
        margin: 0 0 0 5px;
      }
    }
  }
  
  .childJSX{
    height: 0;
    overflow: hidden;
    transition: .8s cubic-bezier(0.58,-0.01, 0, 1);
    opacity: 0;
    transform: translateY(-50px);
  }
}

.DropDown {
  position: relative;
  padding: 10px 0;
  label {
    font-family: avenirRegular;
    font-size: .8em;
    opacity: .6
  }

  &.focus .clickableInput{ border-color: $qb}
  &.typable input { cursor: text}
  .clickableInput {
    margin: 5px 0 10px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    button {
      display: flex;
      align-items: center;
    }
  }
  input,
  .chevron{
    outline: none;
    border: none;
    background: none;
  }
  input {
    flex:1;
    font-family: avenirRegular;
    color: #7f7f7f;
    display: block;
    height: 100%;
    padding: 7px;
    cursor: pointer;
  }

  ul {
    padding: 0;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 70px;
    left: 5px;
    z-index: 2;
    width: calc(100% - 10px);
    background: #fff;
    outline: 0;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
    max-height: 250px;
    overflow-y: scroll;
    li {
      padding: 10px;
      color:$txt;
      &:hover{ background: rgba(0,0,0,.02)}
      cursor: pointer;
      &.selected {
        color: #fff;
        background: $qb;
      }
    }
  }
}

.Radio,
.Checkbox {
  display: flex;
  padding: 10px 0;
  input{
    visibility: hidden;
    position: absolute;
    top:0;
    left:0;
    &:checked + label{
      // &:before {border-color: $qb}
      &:after { display: block}
    }
  }
  label{
    font-family: avenirRegular;
    font-size: .8em;
    color: rgb(155, 155, 155);
    user-select: none;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
 
    &:before{
      content:"";
      margin-right: 10px;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      border: 1px solid #c3c3c3;
    }
 
    &:after{
      content:"";
      display: none;
      width: 12px;
      height: 12px;
      border-radius: 2px;
      background: $qb;
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }
}

.Radio {
  label{
    &:before,
    &:after {
      border-radius: 20px;
    }
  }
}

.RadioGroup {
  padding: 30px 0;
}

.DetailForm {
  width: 860px;
  margin: 0 auto;
}

.ReviewHeader{
  padding: 90px 0;
  text-align: center;
  position: sticky;
  background: #fff;
  z-index: 2;
  top: 0;
  h1 {
    margin: 0 0 20px 0;
    font-family: avenirBold;
    font-size: 2.9em;
  }
  p{
    font-size: 1.1em;    
  }
}

.BusinessCard {
  width: 300px;
  height: 190px;
  background: url("./assets/svg/visa.svg") 20px 20px no-repeat;
  position: relative;
  border: 1px solid $qb;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
  font-size: .9em;
  margin: 30px 10px;
  transform-style: preserve-3d;
  span{ color: $greyTxt}
  &:before{
    content:"";
    height: 100%;
    width: 20px;
    position: absolute;
    top:0;
    right: 0;
    background: linear-gradient($qb,#33C9D5);
  }
}

.BusinessCardApplication {
  perspective: 2000px;
}

.UpdateBusinessName {
  .Checkbox {
    padding: 20px 0;
  }
  .disclaimer {
    color: $greyTxt;
    font-size: .7em;
  }
  .Field{ width: 50%}
}
.finish,
.Save {
  padding: 40px 0 20px;
  .btn { min-width: 250px}
}
.AboutYou,
.AboutYourBusiness {

  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  .phoneNumber,
  .BusinessType { width: calc(50% - 10px)}
  .halfField{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
}
.showPassBtn,
.edit {
  background: none;
  border: none;
  position: absolute;
  top: 30px;
  right: 0;
  &:hover {
    opacity: .5;
  }
}
.ReviewYourInfo {
  position: relative;
  padding: 30px 0;
  h3 {
    font-family: avenirMedium;
    font-size: 1em;
  }
  > article {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    .Field,.savedInfo{
      align-self: center;
      padding: 0;
    }
    .savedInfo {
      font-size: .8em;
      padding: 8px;
    }
    > label {
      font-family: avenirRegular;
      font-size: .8em;
      opacity: .6;
      padding: 20px 0;
    }
  }
}

.LegalText {
  font-family: avenirRegular;
  font-size: .8em;
  opacity: .4;
  padding: 20px 0 80px;
  h5 {
    font-family: avenirDemi;
    font-size: 1em;
    margin: 30px 0 10px;
    
  }
  ul {
    padding-left: 15px;
  }
}

.threeRows {
  display: flex;
  align-items: center;
  .Field:nth-of-type(2){
    width: 420px;
    margin: 0 20px;
  }
  .Field:nth-of-type(1),
  .DropDown {
    width: 200px;
  }
  .DropDown {
    transform: translateY(-2px);
  }
}

.Approved img{
  transform: scaleX(-1) translateX(10px);
}

.BringYourMoney {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  .btnCtn {
    width: 920px;
    display:flex;
    .btn { margin-right: 10px}
  }
}

.TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 2;
  background: #fff;

  .rightNav,
  .menuImg { cursor: pointer}
  .searchImg { cursor: text}
  > div {
    display: flex;
    align-items: center;
    > span {
      font-family: avenirMedium;
      font-size: .8em;
      margin-right: 20px;
    }
  }
}

.QBO {
  display: flex;
  > section { flex: 1}
}

.QBOHead {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #eee;
  .tabs {
    width: 192px;
    cursor: pointer;
  }
}


.Home {
  padding: 0 40px;
  position: relative;
  .Loading {
    position: static;
    padding-top: 5vw;
  }
}

.QBOHead {
  padding-top: 40px;
  margin-bottom: 40px;
  position: sticky;
  top: -60px;
  z-index: 1;
  background: #fff;
  h1 {
    font-family: avenirDemi;
    font-size: 1.5em;
    margin-bottom: 30px;
    span { margin-right: 10px}
  }
}

.SideNav {
  position: sticky;
  top: 0;
  background: #282828;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 220px;
  box-sizing: border-box;
  img { cursor: pointer }
}


.dashboard {
  margin-bottom: 30px;
  animation: showup 3s cubic-bezier(0.38, 0.01, 0, 1.01) forwards;
  opacity: 0;
  transform: translateY(10px);
}

.Survey {
  margin: 10vh auto 0;
  width: 900px;
  h1 {
    margin: 0 0 15px 0;
    font-family: avenirBold;
    font-size: 2em;
  }
  h2 {
    font-family: avenirRegular;
    font-size: 1.15em;
    margin: 0;
  }
  .btnCtn {
    display: flex;
  }
}

.Reasons {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  padding: 70px 0;
  .Tile {
    > div {
      display: flex;
      align-items: center;
      > span {
        font-size: 1.1em;
        font-family: avenirRegular;
      }
    }
    img,.riveComponent{
      width: 60px;
      height: 60px;
      margin-right: 20px;
    }
  }
}

.Tile {
  border: 2px solid #fff;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  // transform: translateY(0);
  transition: .4s cubic-bezier(0.48, 0.01, 0, 1.01);
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
  &:hover {

    // transform: translateY(-1px);
    box-shadow: 0 7px 12px 0 rgba(0,0,0,.07);
  }
  &.selected {
    background: #E9F5EC;
    border-color: $qb;
  }
}

.Ownership,
.SourceOfIncome,
.TrackMoney {

  .trackImg {
    display: flex;
  }
  .btnCtn {
    display: flex;
    .btn { margin-right: 10px}
  }
}

.BringMoney {
  display: flex;
  align-items: center;
  .trackImg {margin-left: 50px}
  .btnCtn{ margin-top: 40px}
}

.Owners {
  grid-template-columns: repeat(4,1fr);
  .Tile {
    img, .riveComponent {
      margin: 0 0 10px 0;
      width: 65px;
      height: 65px;
    }
    > div {
      flex-direction: column;
      padding: 20px 0;
    }
  }
}

.MainIncomeSource {
  margin-bottom: 30px;
}

footer {
  background: #3A3A3D;
  text-align: center;
  width: 100vw;
  img {cursor: pointer}
}

.Signin {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  box-sizing: border-box;
}


.FormCtn {
  display: flex;
  height: calc(100vh - (360px));
  width: 900px;
  margin: 40px 0;
  border: 1px solid #e2e2e2;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 7px 12px 0 rgba(0,0,0,.07);
  justify-content: space-between;
  position: relative;

  .Loading {
    position: static;
    padding: 5vw 30px;
    flex: 1;
  }
  
  .SigninForm,
  .QBMoneyAdd {
    flex: 1;
    box-sizing: border-box;
    margin: 20px 0;
    padding: 0 30px;
  }
  .SigninForm {
    display: flex;
    flex-direction: column;
    h1 {
      font-family: avenirDemi;
      font-size: 1.5em;
      margin: 0 0 15px 0;
      &~ p {
        font-size: .9em;
        margin-bottom: 7px;
      }
    }
    h1,p,small {text-align: center}
    small { display: block}
    .formFooter {
      padding-top: 20px;
      box-sizing: border-box;
      flex: 1;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      p { font-size: .8em }
      small { font-size: .6em }
    }
  }
}

.QBMoneyAdd {
  border-left: 1px solid #e2e2e2;
  img { width: 350px}
  h2 {
    font-family: avenirDemi;
    font-size: 1.1em;
    margin: 0;
  }
  .qbMoney { padding: 30px 20px}
  ul {
    padding-left: 20px;
    margin: 10px 0;
    li {
      font-family: avenirMedium;
      font-size: .9em;
      padding: 5px 0;
    }
  }
  p {
    font-size: .7em;
    opacity: .5;
    padding: 10px 0;
    &:nth-of-type(3) {padding-top: 0}
  }
}

.Marketing {
  text-align: center;
  font-size: 0;
  
  header {
    background: url("./assets/png/headerbg.png");
    height: 142px;
    border-bottom: 1px solid #f2f1ef;
    position: sticky;
    top:0;
  }
}

.marketingBody {
  > img { cursor: pointer }
  background: url("./assets/png/marketingbg.png") repeat-x;
}


.Auth {
  height: 100vh;
  position: relative;
  background: #eaf6f5;

  .qblogo {
    position: absolute;
    top: 0px;
    left: 0;
    padding: 4px 20px;
    z-index: 4;
    width: 100vw;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: rgba(255,255,255,.3);
    border-bottom: 1px solid #d3e8e869;
    span {
      font-family: avenirMedium;
      font-size: 1em;
    }
    img {margin-right: 7px}
  }
  input {
    background: rgba(255,255,255,0);
    border: 1px solid #c6d9d9;
    padding: 15px 20px;
    width: 200px;
    border-radius: 100px;
    outline: none;
    font-family: avenirRegular;
    font-size: .9em;
    margin: 40px 0 10px;
    &::placeholder{color: #92a0a0}
    &:hover {  border-color: #b8cdcd}
    &:focus {border-color: #00bb4e}
  }
  .AuthPass {
    header {
      width: 440px;
      position: absolute;
      top: 22vh;
      left: 22vw;
      .bubble {
        background: #00be5f;
        border-color: #00be5f;
        padding: 15px 50px;
        &:disabled{opacity: 1}
        &:hover {
          background: #00b75b;
          border-color: #00b75b;
        }
      }
      h1 {
        font-family: avenirBold;
        font-size: 4.3em;
        line-height: 1em;
        margin: 0;
      }
      p {
        font-family: avenirMedium;
        font-size: 1.4em;
        padding: 20px 0;
        // opacity: .7;
        width: 400px;
      }
    }
  }
}