@import './assets/font/font.css';
body {
  margin: 0;
  color: #393B3D;
  font-weight: 400;
  font-size: 14px;
  font-family: avenirRegular;
  font-size: 17px;
  overscroll-behavior: none;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

.link {
  color: #008CDE;
  font-family: avenirMedium;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.btn {
  font-family: avenirDemi;
  color: #fff;
  display: flex;
  justify-content: center;
  background: #2D9E1C;
  border: 1px solid #2D9E1C;
  padding: 7px 17px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}
.btn:disabled {
  opacity: 0.3;
}
.btn a {
  color: #fff;
  text-decoration: none;
}
.btn:hover {
  background: rgb(40, 146, 24);
}
.btn:active {
  background: rgb(34, 129, 20);
}
.btn > img {
  margin-right: 10px;
}
.btn.secondary {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #5A5A5A;
}
.btn.secondary:hover {
  background: rgba(255, 255, 255, 0.07);
}
.btn.secondary:active {
  background: rgba(255, 255, 255, 0.1);
}

.highlight {
  background: rgb(255, 249, 215);
}

@keyframes pulse {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.4;
  }
}
.LoadingCompanies div {
  opacity: 0.4;
  padding: 40px 20vw;
  animation: pulse 0.6s linear infinite alternate;
}
.LoadingCompanies div:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

@keyframes showup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.Company {
  padding: 40px 20vw;
  display: flex;
  flex-direction: column;
  animation: showup 1.3s cubic-bezier(0.63, 0.01, 0, 1) forwards;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.5s cubic-bezier(0.72, -0.01, 0.12, 1.01) !important;
  overflow: hidden;
  height: 204px;
  box-sizing: border-box;
  cursor: pointer;
}
.Company .riveComponent {
  width: 34px;
  margin-left: 10px;
}
.Company.selected {
  border: none;
}
.Company div > span,
.Company p > span {
  margin-right: 6px;
}
.Company:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.Company:not(:active):hover h3 span:nth-of-type(1) {
  text-decoration: underline;
}
.Company h3 {
  margin: 0 0 10px 0;
  font-family: avenirMedium;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}
.Company h3 .type {
  font-family: avenirBold;
  margin-left: 10px;
  color: #fff;
  background: #2D9E1C;
  font-size: 0.4em;
  border-radius: 20px;
  padding: 2px 8px;
}
.Company h3 .type.plc {
  background: #008CDE;
}
.Company h3 .type.ultd {
  background: #FF7424;
}
.Company h3 .type.llp {
  background: #E91792;
}

.NoResult {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  padding: 40px 40px 0 40px;
  box-sizing: border-box;
  border-radius: 20px;
}
.NoResult img {
  margin-bottom: -90px;
}
.NoResult h3 {
  font-family: avenirMedium;
  margin: 50px 0 10px 0;
  font-size: 1.5em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.SearchHead {
  display: flex;
  flex-direction: column;
  padding: 90px 20vw 70px;
  margin-bottom: -20px;
  align-items: center;
  background: #fff;
  position: sticky;
  z-index: 1;
  top: 0;
}
.SearchHead h2 {
  opacity: 0;
  animation: fadeIn 1s ease forwards 0.2s;
  font-family: avenirBold;
  font-size: 2em;
  margin: 0 0 35px 0;
}

@keyframes slide {
  0% {
    width: 97%;
    opacity: 0;
  }
  50% {
    width: 100.5%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@keyframes slideSearch {
  0% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0px);
  }
}
.SearchInput {
  opacity: 0;
  display: flex;
  align-items: center;
  border: 1px solid #d8d8d8;
  animation: slide 1.5s cubic-bezier(0.68, -0.02, 0.11, 1) forwards;
  padding: 0 15px;
  width: 60%;
  box-sizing: border-box;
  border-radius: 100px;
  transition: 0.2s ease;
}
.SearchInput:hover {
  border-color: #b1b1b1;
}
.SearchInput.focus {
  border-color: #64a7f6;
}
.SearchInput button {
  background: none;
  border: none;
  padding: 8px;
  margin-right: 4px;
  transform: translateX(5px);
  animation: slideSearch 1.8s cubic-bezier(0.68, -0.02, 0.11, 1) forwards;
}
.SearchInput button:hover {
  opacity: 0.5;
}
.SearchInput input {
  border: none;
  outline: none;
  font-family: avenirRegular;
  padding: 20px 0;
  width: calc(100% - 50px);
  font-size: 0.9em;
  background: none;
}
.SearchInput input::-moz-placeholder {
  color: rgb(158, 158, 158);
}
.SearchInput input::placeholder {
  color: rgb(158, 158, 158);
}

@keyframes fadeLoad {
  from {
    background: rgba(255, 255, 255, 0);
  }
  to {
    background: rgb(255, 255, 255);
  }
}
.Loading {
  position: fixed;
  inset: 0;
  animation: fadeLoad 0.3s ease forwards;
  background: rgba(255, 255, 255, 0);
  z-index: 2;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 25vh;
}
.Loading > div {
  display: flex;
  flex-direction: column;
}
.Loading.progress .riveComponent {
  width: 468px;
  height: 16px;
  margin-top: 10px;
}
.Loading .riveComponent {
  width: 100px;
  height: 100px;
}

.GreetingUser {
  text-align: center;
  width: 500px;
  margin: 10vh auto;
  animation: showup 1.2s cubic-bezier(0.56, 0, 0, 1) forwards;
  opacity: 0;
  transform: translateY(10px);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 20px;
}
.GreetingUser .riveComponent {
  width: 900px;
  height: 900px;
  position: absolute;
  top: -250px;
  left: -225px;
  z-index: 0;
}
.GreetingUser img {
  margin: 20px 0;
}
.GreetingUser h1, .GreetingUser p, .GreetingUser button {
  z-index: 1;
  position: relative;
}
.GreetingUser h1 {
  font-family: avenirBold;
  margin: 0 0 20px 0;
  font-size: 2em;
}
.GreetingUser .btnCtn {
  display: flex;
  justify-content: center;
  padding: 60px 70px 0;
}
.GreetingUser .btnCtn button {
  flex: 1;
}

.Field {
  display: flex;
  flex-direction: column;
  font-family: avenirRegular;
  font-size: 0.8em;
  padding: 10px 0;
}
.Field label {
  opacity: 0.6;
}
.Field input {
  font-family: avenirRegular;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #c3c3c3;
  outline: none;
  margin: 10px 0;
}
.Field input:focus {
  border-color: #2D9E1C;
}

.MeasuringPurposes {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
}

.AccordionParent {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.AccordionChild {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  display: flex;
  flex-direction: column;
}
.AccordionChild:hover h4 {
  opacity: 0.6;
}
.AccordionChild.noStarted .childTitle > span {
  opacity: 0;
}
.AccordionChild.expanded .childTitle button > img {
  transform: rotate(0deg);
}
.AccordionChild.expanded .childJSX {
  opacity: 1;
  transform: translateY(0);
}
.AccordionChild .childTitle {
  display: flex;
  align-items: center;
}
.AccordionChild .childTitle > span {
  opacity: 1;
  color: #008CDE;
  font-size: 0.9em;
  font-family: avenirMedium;
  transition: 0.8s cubic-bezier(0.58, -0.01, 0, 1);
}
.AccordionChild .childTitle > button {
  opacity: 1;
  flex: 1;
  font-size: 1.1em;
  background: #fff;
  position: relative;
  z-index: 1;
  border: none;
  display: flex;
  align-items: center;
  padding: 15px 0;
  font-family: avenirDemi;
  transition: 0.8s cubic-bezier(0.58, -0.01, 0, 1);
}
.AccordionChild .childTitle > button img {
  transform: rotate(-90deg);
  transition: 0.8s cubic-bezier(0.58, -0.01, 0, 1);
}
.AccordionChild .childTitle > button h4 {
  margin: 0 0 0 5px;
}
.AccordionChild .childJSX {
  height: 0;
  overflow: hidden;
  transition: 0.8s cubic-bezier(0.58, -0.01, 0, 1);
  opacity: 0;
  transform: translateY(-50px);
}

.DropDown {
  position: relative;
}
.DropDown label {
  font-family: avenirRegular;
  font-size: 0.8em;
  opacity: 0.6;
}
.DropDown.focus .clickableInput {
  border-color: #2D9E1C;
}
.DropDown.typable input {
  cursor: text;
}
.DropDown .clickableInput {
  margin: 10px 0;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #c3c3c3;
}
.DropDown .clickableInput button {
  display: flex;
  align-items: center;
}
.DropDown input,
.DropDown .chevron {
  outline: none;
  border: none;
  background: none;
}
.DropDown input {
  flex: 1;
  font-family: avenirRegular;
  color: #7f7f7f;
  display: block;
  height: 100%;
  padding: 7px;
  cursor: pointer;
}
.DropDown ul {
  padding: 0;
  list-style: none;
  margin: 0;
  position: absolute;
  top: 70px;
  left: 5px;
  z-index: 2;
  width: calc(100% - 10px);
  background: #fff;
  outline: 0;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.DropDown ul li {
  padding: 10px;
  color: #393B3D;
  cursor: pointer;
}
.DropDown ul li:hover {
  background: rgba(0, 0, 0, 0.02);
}
.DropDown ul li.selected {
  color: #fff;
  background: #2D9E1C;
}

.Checkbox {
  display: flex;
  padding: 10px 0;
}
.Checkbox input {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.Checkbox input:checked + label:after {
  display: block;
}
.Checkbox label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.Checkbox label:before {
  content: "";
  margin-right: 10px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #c3c3c3;
}
.Checkbox label:after {
  content: "";
  display: none;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: #2D9E1C;
  position: absolute;
  top: 5px;
  left: 5px;
}

.DetailForm {
  width: 860px;
  margin: 0 auto;
}

.ReviewHeader {
  padding: 90px 0;
  text-align: center;
  position: sticky;
  background: #fff;
  z-index: 2;
  top: 0;
}
.ReviewHeader h1 {
  margin: 0 0 20px 0;
  font-family: avenirBold;
  font-size: 2.9em;
}
.ReviewHeader p {
  font-size: 1.1em;
}

.BusinessCard {
  width: 300px;
  height: 190px;
  background: url("./assets/svg/visa.svg") 20px 20px no-repeat;
  position: relative;
  border: 1px solid #2D9E1C;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
  font-size: 0.9em;
  margin: 30px 10px;
  transform-style: preserve-3d;
}
.BusinessCard span {
  color: #b6b6b6;
}
.BusinessCard:before {
  content: "";
  height: 100%;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(#2D9E1C, #33C9D5);
}

.BusinessCardApplication {
  perspective: 2000px;
}

.UpdateBusinessName .Checkbox {
  padding: 20px 0;
}
.UpdateBusinessName .disclaimer {
  color: #b6b6b6;
  font-size: 0.7em;
}
.UpdateBusinessName .Field {
  width: 50%;
}

.Save {
  padding: 40px 0 20px;
}
.Save .btn {
  min-width: 250px;
}

.AboutYourBusiness .BusinessType {
  width: calc(50% - 10px);
}
.AboutYourBusiness .halfField {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.ReviewYourInfo {
  position: relative;
  padding: 30px 0;
}
.ReviewYourInfo .edit {
  background: none;
  border: none;
  position: absolute;
  top: 30px;
  right: 0;
}
.ReviewYourInfo .edit:hover {
  opacity: 0.5;
}
.ReviewYourInfo h3 {
  font-family: avenirMedium;
  font-size: 1em;
}
.ReviewYourInfo > article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.ReviewYourInfo > article .Field, .ReviewYourInfo > article .savedInfo {
  align-self: center;
  padding: 0;
}
.ReviewYourInfo > article .savedInfo {
  font-size: 0.8em;
  padding: 8px;
}
.ReviewYourInfo > article > label {
  font-family: avenirRegular;
  font-size: 0.8em;
  opacity: 0.6;
  padding: 20px 0;
}/*# sourceMappingURL=index.css.map */