@import './assets/font/font.css';
$qb: #2D9E1C;
$qbHover:rgb(40, 146, 24);
$qbActive:rgb(34, 129, 20);
$blue: #008CDE;
$pink: #E91792;
$orange: #FF7424;

//Buttons
$secondaryBtnStroke: #5A5A5A;
$secondaryBtnBG: rgba(255,255,255,0);
$secondaryBtnHover: rgba(255,255,255,.07);
$secondaryBtnActive: rgba(255,255,255,.1);
$btnRadius: 50px;
$btnSpacing: 10px;

//Typography
$fontSize: 17px;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$heavy: 900;
$txt: #333;
$highlight: rgb(255, 249, 215);

body {
  margin: 0;
  color: $txt;
  font-weight: 400;
  font-size: 14px;
  font-family: avenirRegular;
  font-size: $fontSize;
  overscroll-behavior: none;
}

button{cursor: pointer}
p {margin: 0}

.btn {
  font-family: avenirDemi;
  color: #fff;
  display: flex;
  justify-content: center;
  a{
    color: #fff;
    text-decoration: none;
  }
  background: $qb;
  border: 1px solid $qb;
  padding: 7px 17px;
  border-radius: $btnRadius;
  display: flex;
  align-items: center;
  font-size: .9em;
  &:hover{ background: $qbHover}
  &:active{ background: $qbActive}
  > img { margin-right: $btnSpacing}
  &.secondary{
      background: $secondaryBtnBG;
      border: 1px solid $secondaryBtnStroke;
      &:hover{ background: $secondaryBtnHover}
      &:active{ background:$secondaryBtnActive}
  }
}

.highlight {
  background: $highlight;
}

@keyframes pulse {
  from{
    opacity: .2;
  }
  to{
    opacity: .4;
  }
}
.LoadingCompanies {
  div {
    opacity: .4;
    padding: 40px 20vw;
    animation: pulse .6s linear infinite alternate;
    &:not(:last-child){
      border-bottom: 1px solid rgba(0,0,0,.05);
    }
  }
}

@keyframes showup {
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

.Company {
  padding: 40px 20vw;
  display: flex;
  flex-direction: column;
  animation: showup .7s ease forwards;
  opacity: 0;
  transform: translateY(10px);
  // &:hover {background: #fafafa84}
  cursor: pointer;
  div > span,
  p > span {margin-right: 6px}
  &:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,.05);
  }
  &:hover h3 span:nth-of-type(1){text-decoration: underline}
  h3{
    margin: 0 0 10px 0;
    font-family: avenirMedium;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    > span{
      &:nth-of-type(2){
        font-family: avenirBold;
        margin-left: 10px;
        color:#fff;
        background: $qb;
        font-size: .4em;
        border-radius: 20px;
        padding: 2px 8px;
        &.plc{ background: $blue}
        &.ultd{ background: $orange}
        &.llp{ background: $pink}
      }
    }
  }
}

.NoResult {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  // animation: showup .9s cubic-bezier(0.73, 0.01, 0.13, 1) forwards;
  // opacity: 0;
  // transform: translateY(10px);
  // box-shadow: 0 20px 30px 0 rgba(0,0,0,.1);
  padding: 40px 40px 0 40px;
  box-sizing: border-box;
  border-radius: 20px;
  img{margin-bottom: -90px}
  h3 {
    font-family: avenirMedium;
    margin: 50px 0 10px 0;
    font-size: 1.5em;
  }
}


@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.SearchHead {
  display: flex;
  flex-direction: column;
  padding: 90px 20vw 70px;
  margin-bottom: -20px;
  align-items: center;
  background: #fff;
  position: sticky;
  z-index: 1;
  top: 0;
  h2 {
    opacity: 0;
    animation: fadeIn 1s ease forwards .2s;
    font-family: avenirBold;
    font-size: 2em;
    margin: 0 0 35px 0;
  }
}

@keyframes slide {
  0%{
    width: 97%;
    opacity: 0;
  }
  50%{
    width: 100.5%;
    opacity: 1;
  }
  100%{
    width: 100%;
    opacity: 1;
  }
}
@keyframes slideSearch {
  0%{
    transform: translateX(3px)
  }
  50%{
    transform: translateX(-2px)
  }
  100%{
    transform: translateX(0px)
  }
}

.SearchInput {
  opacity: 0;
  display: flex;
  align-items: center;
  border: 1px solid #d8d8d8;
  animation: slide 1.5s cubic-bezier(0.68,-0.02, 0.11, 1)forwards;
  padding: 0 15px;
  width: 60%;
  box-sizing: border-box;
  border-radius: 100px;
  transition: .2s ease;
  &:hover { border-color: #b1b1b1}
  &.focus { border-color: #64a7f6}
  button {
    background: none;
    border: none;
    padding: 8px;
    margin-right: 4px;
    transform: translateX(5px);
    animation: slideSearch 1.8s cubic-bezier(0.68,-0.02, 0.11, 1)forwards;
    &:hover{opacity: .5}
  }
  input {
    border: none;
    outline: none;
    font-family: avenirRegular;
    padding: 20px 0;
    width: calc(100% - 50px);
    font-size: .9em;
    background: none;
    &::placeholder { color: rgb(158, 158, 158)}
  }
}


@keyframes fadeLoad {
  from{
    background: rgba(255,255,255,0);
  }
  to{
    background: rgba(255,255,255,.95);
  }
}

.Loading {
  position: fixed;
  inset: 0;
  animation: fadeLoad .3s ease forwards;
  background: rgba(255,255,255,0);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  .riveComponent{
    width: 100px;
    height: 100px;
  }
}

.GreetingUser {
  text-align: center;
  width: 500px;
  margin: 10vh auto;
  animation: showup 1.2s cubic-bezier(0.56, 0, 0, 1) forwards;
  opacity: 0;
  transform: translateY(10px);
  // box-shadow: 0 20px 30px 0 rgba(0,0,0,.1);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  .riveComponent {
    width: 900px;
    height: 900px;
    position: absolute;
    top: -250px;
    left: -225px;
    z-index: 0;
  }
  img{
    margin: 20px 0;
  }
  h1,p,button{
    z-index: 1;
    position: relative;
  }
  h1 {
    font-family: avenirBold;
    margin: 0 0 20px 0;
    font-size: 2em;
  }
  .btnCtn {
    display: flex;
    justify-content: center;
    padding: 60px 70px 0;
    button {
      flex:1;
    }
  }
}